services:
  ceramic:
    extends:
      file: compose.yaml
      service: ceramic
    container_name: ceramic-one-testnet
    environment:
      CERAMIC_ONE_NETWORK: "testnet-clay"
      CERAMIC_ONE_ETHEREUM_RPC_URLS: "https://reverse-proxy-dev.desci.com/rpc_gnosis_mainnet"
      CERAMIC_ONE_EXTRA_CERAMIC_PEER_ADDRESSES: "/dns4/ceramic-one-dev.desci.com/tcp/4101/p2p/12D3KooWA7rnYfXSv8B3LDHNuDrEAw7dHR9AGM2iRYJETc9Uk3hY"
    volumes:
      - ../local-data/testnet/ceramic-one:/data/ceramic-one
  codex-node:
    extends:
      file: compose.yaml
      service: codex-node
    container_name: codex-node-testnet
    environment:
      - CODEX_ENVIRONMENT=testnet
      - METRICS_BACKEND_URL=https://codex-metrics.desci.com
    volumes:
      - ../local-data/testnet/codex-node:/app/local-data/codex-node
