services:
  ceramic:
    image: public.ecr.aws/r5b3e0r5/3box/ceramic-one:0.56.0
    container_name: ceramic-one-local
    restart: on-failure
    # entrypoint: ["/bin/sh", "-c", "sleep infinity"]
    ports:
      - 4101:4101 # swarm TCP
      - 4102:4102 # swarm UDP
      - 5101:5101 # RPC
      - 5102:5102 # flight SQL (> v0.53.0)
      - 9465:9465 # prometheus metrics
    environment:
      CERAMIC_ONE_STORE_DIR: "/data/ceramic-one"
      CERAMIC_ONE_P2P_KEY_DIR: "/data/ceramic-one"
      CERAMIC_ONE_BIND_ADDRESS: "0.0.0.0:5101"
      CERAMIC_ONE_SWARM_ADDRESSES: "/ip4/0.0.0.0/tcp/4101,/ip4/0.0.0.0/udp/4102/quic-v1"
      CERAMIC_ONE_METRICS_BIND_ADDRESS: "0.0.0.0:9465"
      CERAMIC_ONE_FLIGHT_SQL_BIND_ADDRESS: "0.0.0.0:5102"
      # CERAMIC_ONE_LOCAL_NETWORK_ID: "0"
      CERAMIC_ONE_NETWORK: "inmemory"
      CERAMIC_ONE_EXTRA_INTERESTS: "kh4q0ozorrgaq2mezktnrmdwleo1d,kjzl6hvfrbw6cbe01it6hlcwopsv4cqrqysho4f1xd7rtqxew9yag3x2wxczhz0"
      RUST_LOG: "info,ceramic_one=debug,multipart=error,datafusion_flight_sql_server=warn"
      CERAMIC_ONE_LOG_FORMAT: "multi-line"
    volumes:
      - ../local-data/local/ceramic-one:/data/ceramic-one
    # extra_hosts:
    #   host.docker.internal: host-gateway
    healthcheck:
      test:
        [
          "CMD",
          "ceramic-one",
          "query",
          "statement-query",
          "select null from event_states limit 1",
        ]
      interval: 5s
      timeout: 5s
      retries: 5

  codex-node:
    build:
      context: ..
      dockerfile: ./packages/node/Dockerfile
    container_name: codex-node-local
    restart: on-failure
    ports:
      - 3000:3000 # HTTP API
      - 4001:4001 # IPFS TCP swarm
    environment:
      - PORT=3000
      - CODEX_ENVIRONMENT=local
      - IPFS_DATA_DIR=/app/local-data/codex-node
      - CERAMIC_ONE_RPC_URL=http://ceramic:5101
      - CERAMIC_ONE_FLIGHT_URL=http://ceramic:5102
    volumes:
      - ../local-data/local/codex-node:/app/local-data/codex-node
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:3000/health"]
      interval: 5s
      timeout: 5s
      retries: 5
    depends_on:
      ceramic:
        condition: service_healthy
