on:
  pull_request:
    branches:
      - main
jobs:
  cache-deps:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
          check-latest: false
      - run: pnpm i --frozen-lockfile

  test-c1:
    needs: cache-deps
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
          check-latest: false
      - run: pnpm i --offline
      - run: |
          docker compose -f docker/compose.yaml up -d ceramic
          sleep 5
          pnpm --filter @desci-labs/desci-codex-lib run test:c1

  test-unit:
    needs: cache-deps
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
          check-latest: false
      - run: pnpm i --offline
      - run: pnpm --filter '@desci-labs/*' test

  build-webapp:
    needs: cache-deps
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
          check-latest: false
      - run: pnpm i --offline
      - run: |
          pnpm --filter '@desci-labs/desci-codex-network-status' typecheck
          pnpm --filter '@desci-labs/desci-codex-network-status' build
